<h1> Buster's Best Bowling Alley</h1>
<h2> Bet You Can't Bowl A Strike Every Time</h2>
<p> 97 Bowling Alley Lane, Boulder CO </p>
<%= "I love " + "Ruby!!" %>
<p></p>
<% array = [1, 2, 3, 4, 5, 6]%>
<% z = array.map {|x| x + 11}%>
<p></p>
<%= z %>

<ul>
  <% squares = [1, 4, 9, 16] %>
  <% squares.each do |square| %>
    <li><%= square + 33 %></li>
  <% end %>
</ul>

<% wall_posts = ["First post!", "Second post!", "Hello, it's your mother. Why don't you ever call me?"] %>


<ul>
  <% wall_posts.each do |post| %>
    <li><%= post %></li>
  <% end %>
</ul>
